@import '~antd/dist/antd.css';

.App {
  display: flex;
  height: 100%;
  background-color: #EDF6F9;
}

.HomeHeader {
  grid-area: header;

  text-align: center;
}

.todoList {
  grid-area: todoList;

  width: 80%;
}

.AppBody {
  width: 90%;
  height: 100%;
}

.SideBar {
  width: 10%;
  background-color: #006D77;
  border-right: 0.1rem solid lightblue;
}

.SideBarLinks {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  
}

.SideBarHighlighted {
  border-left: lightblue solid;
}

.SideBarLinks a {
  text-decoration: none;
  text-decoration-color: none;
  margin: 0.25rem 0;
}

.SideBarLinks ul {
  padding-left: 0;
}

.SideBarLinks li {
  list-style: none;
  padding: 0.4rem 0;
  padding-left: 1rem;
}

.SideBarLinks li:hover {
  background-color: #5FA2DB;
  cursor: pointer;
}

.HomePage {
  display: flex;
  justify-content: center;
  
}

.HomeContent {
  width: 90%;

  display: grid;

  grid-template-rows: 1fr 8fr;


  grid-template-areas: 
  "header"
  "todoList";
}

.createTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTodoContent {
  width: 50%;
}

.createTodoHeader {
  text-align: center;
}

.todoActions {
  display: flex;
  justify-content: flex-end;
}