@import '~antd/dist/antd.css';

.App {
  display: flex;
  height: 100%;
  background-color: #EDF6F9;
}

.PageHeader {
  text-align: center;

  margin: 2rem 0;
}

.todoList {
  width: 80%;
}

.AppBody {
  width: 90%;
  height: 100%;
}

.SideBar {
  width: 10%;
  min-width: 100px;
  background-color: #006D77;
  border-right: 0.1rem solid lightblue;
}

.SideBarLinks {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  
}

.SideBarHighlighted {
  border-left: lightblue solid;
}

.SideBarLinks a {
  text-decoration: none;
  text-decoration-color: none;
  margin: 0.25rem 0;
}

.SideBarLinks ul {
  padding-left: 0;
}

.SideBarLinks li {
  list-style: none;
  padding: 0.4rem 0;
  padding-left: 1rem;
}

.SideBarLinks li:hover {
  background-color: #5FA2DB;
  cursor: pointer;
}

.HomePage {
  display: flex;
  justify-content: center;
  
}

.HomeContent {
  width: 90%;

  display: flex;

  flex-direction: column;

  align-items: center;
}

.createTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTodoContent {
  width: 50%;
}

.createTodoHeader {
  text-align: center;
}

.todoActions {
  display: flex;
  justify-content: flex-end;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.todoCheckbox {
  margin-right: 1rem;
}

.taskCompleted {
  text-decoration: line-through;
}

.calendarTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CalendarContainer {
  width: 95%;
  border: 0.1rem solid teal;
  border-radius: 0.5rem;
  padding: 0.5rem;
  
}